a {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
    background: linear-gradient(rgba(70, 70, 70, 1), black);
    padding-top: 4px;
    padding-bottom: 4px;
}

.info {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}

.desktop-footer li, .footer-contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.desktop-footer li div, .footer-contact-list li div:last-child {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.footer-contact-list img {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

@media screen and (min-width: 792px) {
    .desktop-footer {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
    }
}